#root {
    flex: 1;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.App {
    display: flex;
}

.App main {
    flex: 1;
    padding: 0 10%;
}

.savings {
    display: flex;
    justify-content: space-between;
}

#add-savings-form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 0.6em 1.2em;
    margin: 10px 0;
}

model-viewer {
    height: 400px;
}